<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Quản lý chi tiêu cá nhân một cách hiệu quả với MyBudget. Các giải pháp tài chính đa dạng và dịch vụ chất lượng.">

  <link rel="stylesheet" href="/static/css/home.css">
  <title>My Website</title>
</head>

<body>
  <!-- Header -->
  <section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
          <a href="#hero">
            <h1><span>M</span>y <span>B</span>Ngân sách</h1>
          </a>
        </div>
        <div class="nav-list">
          <div class="hamburger">
            <div class="bar"></div>
          </div>
          <ul>
        <li><a href="#hero" data-after="Trang Chủ">Trang Chủ</a></li>
        <li><a href="#services" data-after="Dịch Vụ">Dịch Vụ</a></li>
        <li><a href="#about" data-after="Giới Thiệu">Giới Thiệu</a></li>
        <li><a href="#contact" data-after="Liên Hệ">Liên Hệ</a></li>
        <li><a href="/signin" data-after="Đăng Nhập">-Đăng Nhập-</a></li>

          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Header -->

  <!-- Hero Section  -->
  <section id="hero">
    <div class="hero container">
      <div>
        <h1>Xin chào, <span></span></h1>
        <h1> chào mừng đến  <span></span></h1>
        <h1> Ứng dụng Web theo dõi chi phí <span></span></h1>
        <a href="/signup" class="cta">Đăng Kí</a>
      </div>
    </div>
  </section>
  <!-- End Hero Section  -->

 <section id="services">
    <div class="services container">
        <div class="service-top">
            <h1 class="section-title">Dịch Vụ<span>i</span> </h1>
            <p>MyBudget cung cấp nhiều dịch vụ cho khách hàng và các ngành công nghiệp. Giải pháp tài chính đáp ứng nhu cầu của bạn, bất kể mục tiêu tài chính nào của bạn, luôn có giải pháp của MyBudget giúp bạn đạt được chúng.</p>
        </div>
        <div class="service-bottom">
            <div class="service-item">
                <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/services.png" /></div>
                <h2>Chi Phí Cá Nhân</h2>
                <p>Lập ngân sách không chỉ là thanh toán hóa đơn và để dành tiết kiệm. Đó là về việc tạo ra một kế hoạch tài chính cho cuộc sống mà bạn mong muốn.</p>
            </div>
            <div class="service-item">
                <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/services.png" /></div>
                <h2>Đầu Tư</h2>
                <p>Theo dõi các khoản đầu tư của bạn và mang lại cái nhìn rõ ràng cho danh mục đầu tư với hỗ trợ cho cổ phiếu, trái phiếu, chứng chỉ gửi tiết kiệm, quỹ tương hỗ, và nhiều hơn nữa.</p>
            </div>
            <div class="service-item">
                <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/services.png" /></div>
                <h2>Ngân Hàng Trực Tuyến</h2>
                <p>Ứng dụng MyBudget có thể tự động tải xuống giao dịch và gửi thanh toán trực tuyến từ nhiều tổ chức tài chính.</p>
            </div>
            <div class="service-item">
                <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/services.png" /></div>
                <h2>Cuộc Sống Tài Chính</h2>
                <p>Nhận bức tranh tài chính đầy đủ của bạn chỉ trong một cái nhìn. Với ứng dụng MyBudget, bạn có thể xem tất cả các hoạt động tài chính của mình.</p>
            </div>
        </div>
    </div>
</section>
<!-- End Service Section -->

  <!-- End Service Section -->

  <!-- About Section -->
  <section id="about">
    <div class="about container">
        <div class="col-left">
            <div class="about-img">
                <img src="/static/images/img-2.png" alt="img">
                <div><h2>CEO, Shridhar</h2></div>
            </div>
        </div>

        <div class="col-right">
            <h1 class="section-title">Về <span>Chúng Tôi</span></h1>
            <h2>Giải Pháp Tài Chính</h2>
            <p>Giải pháp tài chính MyBudget là một trong những công ty tài chính hàng đầu trong nhiều năm qua. MyBudget cung cấp nhiều dịch vụ cho khách hàng và các ngành công nghiệp. Giải pháp tài chính đáp ứng nhu cầu của bạn, bất kể mục tiêu tài chính nào của bạn, luôn có giải pháp của MyBudget giúp bạn đạt được chúng. Bạn có thể liên hệ với trung tâm dịch vụ của chúng tôi để biết thêm thông tin và cũng theo dõi mạng xã hội của chúng tôi để cập nhật về các dịch vụ mới.</p>
            <a href="#footer" class="cta">Theo Dõi Chúng Tôi</a>
        </div>
    </div>
</section>
<!-- End About Section -->

  <!-- End About Section -->

  <!-- Contact Section -->
  <section id="contact">
    <div class="contact container">
        <div>
            <h1 class="section-title">Thông Tin <span>Liên Hệ</span></h1>
        </div>
        <div class="contact-items">
            <div class="contact-item">
                <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/phone.png" /></div>
                <div class="contact-info">
                    <h1>Điện Thoại</h1>
                    <h2>+1 234 123 1234</h2>
                    <h2>+1 234 123 1234</h2>
                </div>
            </div>
            <div class="contact-item">
                <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/new-post.png" /></div>
                <div class="contact-info">
                    <h1>Email</h1>
                    <h2>info@gmail.com</h2>
                    <h2>abcd@gmail.com</h2>
                </div>
            </div>
            <div class="contact-item">
                <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/map-marker.png" /></div>
                <div class="contact-info">
                    <h1>Địa Chỉ</h1>
                    <h2> Hà nội, Việt nam</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Contact Section -->

  <!-- End Contact Section -->

  <!-- Footer -->
 <section id="footer">
    <div class="footer container">
        <div class="brand">
            <h1><span>M</span>y <span>B</span>udget</h1>
        </div>
        <h2>Giải Pháp Tài Chính Hoàn Chỉnh Của Bạn</h2>
        <div class="social-icon">
            <div class="social-item">
                <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/facebook-new.png" /></a>
            </div>
            <div class="social-item">
                <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/instagram-new.png" /></a>
            </div>
            <div class="social-item">
                <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/twitter.png" /></a>
            </div>
            <div class="social-item">
                <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/behance.png" /></a>
            </div>
        </div>
        <p> All rights reserved.</p>
    </div>
</section>
<!-- End Footer -->

  <script src="/static/js/home.js"></script>
</body>

</html>
