{% extends 'base.html' %}

{% block body %} 
<style>

    H1 {
       position: relative;
       right: -790PX;
       top: -400PX;
       color: RED;

    }

p{
position: relative;
right: -800px;
top: -350px;
font-family:monospace;
}

span{
    position: relative;
right: -800px;
top: -360px;
}


   .ccc {
        position: relative;
        top:80px;
        left:-100px;
      
    }
   

<style>
    /* Các kiểu CSS có thể được đặt ở đây */
</style>
<div id="aa" class="container">
    <div class="ccc">
        <img src="../static/images/images (13).jpeg" alt="Hành trình bắt đầu">
        <h1>HÃY BẮT ĐẦU</h1>
        <p>Ứng dụng web MyBudget giúp<br> bạn duy trì ngân sách<br> và phân tích chi tiêu</p>
        <img height="13%" width="13%" style="position: relative; top: -690px; left: -60px;" src="../static/images/istockphoto-943300706-612x612.jpg" alt="Hình ảnh minh họa">
    </div>
    <span class="btn btn-outline-dark">Hãy Bắt Đầu</span>
</div>


{% endblock %}